data/**/*.npy
data/**/*.npz
data/**/*.csv
data/**/*.pt
data/**/*.pth
data/**/*.jpg
data/**/*.png
outputs/**/*.npy
outputs/**/*.npz
outputs/**/*.csv
outputs/**/*.pt
outputs/**/*.pth
outputs/**/*.jpg
outputs/**/*.png
outputs/**/*.json
notebooks/test.ipynb
**/.ipynb_checkpoints/*
**/__pycache__/*